.characterItem {
  padding: 15px;
  box-shadow: 0 0 4px rgba(80, 80, 80, 0.5);
  transition: transform 0.5s;
}

.characterItemSelected {
  background-color: rgba(100, 215, 100, 0.3);
}

.characterItem:hover {
  transform: scale(1.1);
}
